#name,
#surname,
#about,
#description,
#icon,
#project-name
 {
  color: var(--cor-texto);
  text-decoration: none;
}

#name:hover,
#surname:hover,
#about:hover,
#description:hover,
#icon:hover
#project-link:hover,
#project-name:hover,
#project-description:hover,
h1:hover,h2:hover,h3:hover {
  color: var(--cor-texto-suave);
  text-decoration: none;
}



#container,
#card {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

#card {
  background-color: var(--cor-fundo-card);
}

#name {
  margin-top: 40px;
  font-weight: 600;
}

#surname {
  margin-top: 10px;
  font-weight: 300;
  font-size: 20px;
}

#about {
  margin: 10px;
  font-weight: 600;
  font-size: 20px;
}

#description {
  margin: 10px;
  font-weight: 100;
}

.avatar img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 60px;
}


.icon-link {
  margin: 0 10px;
}

.icon {
  font-size: 30px;
  margin-top: 10px;
}

.icon:hover {
  color: var(--cor-texto-suave);
}

@media screen and (max-width: 768px) {
  #name {
    margin-top: 20px;
    font-size: 24px;
  }

  #surname {
    margin-top: 5px;
    font-size: 16px;
  }

  #about {
    margin: 10px;
    font-size: 20px;
  }

  #description {
    margin: 5px;
    font-size: 16px;
  }

  .avatar img {
    width: 150px;
    height: 150px;
    margin-top: 30px;
  }

  .icon {
    font-size: 30px;
    margin-top: 20px;
  }
}
