:root {
  --background-color-0: #fff;
  --background-color-1: #f2f2f2;
  --background-color-0-dark: #0a0909;
  --background-color-1-dark: #333333;
  --box-shadow-color-1: #0000001a;
  --text-color-0: #004cff;
  --text-color-1: #000;
  --text-color-1-dark: #ffffff;
  --primary-color: #0062ff;
  --primary-color-light: #2485e0;
  --primary-color-dark: #033a70;
  --secondary-color: #6c757d;
  --secondary-color-light: #9aa5ab;
  --secondary-color-dark: #465057;
  --red-color: #dc3545;
  --green-color: #28a745;
  --yellow-color: #ffc107;
  --purple-color: #6f42c1;
  --pink-color: #e83e8c;
  --orange-color: #fd7e14;
  --gradient: linear-gradient(90deg, var(--primary-color), var(--primary-color-light));
}
