:root {
  --cor-primaria: #0d47a1;
  --cor-primaria-escura: #002171;
  --cor-primaria-clara: #5472d3;

  --cor-secundaria: #04153b;
  --cor-secundaria-escura: #030c20;
  --cor-secundaria-clara: #0036ab;

  --cor-fundo: var(--gradiente);
  --cor-fundo-escuro: var(--gradiente);
  --cor-fundo-claro: #484848;

  --cor-texto: #ffffff;
  --cor-texto-claro: #eeeeee;
  --cor-texto-suave: #aaaaaa;

  --gradiente: linear-gradient(
    to bottom right,
    var(--cor-primaria),
    var(--cor-secundaria),
    var(--cor-secundaria-escura)
  );
}
