:root {
  --cor-primaria: #104088;
  --cor-primaria-escura: #ffffff;
  --cor-primaria-clara: #1636a0;

  --cor-secundaria: #000000;
  --cor-secundaria-escura: #000000;
  --cor-secundaria-clara: #0036ab;

  --cor-fundo: var(--gradiente);
  --cor-fundo-escuro: var(--gradiente);
  --cor-fundo-claro: #484848;
  --cor-fundo-card: #000000ab;

  --cor-texto: #ffffff;
  --cor-texto-night: #000000;
  --cor-texto-claro: #eeeeee;
  --cor-texto-suave: #aaaaaa;

  --gradiente: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}

